.login {
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  border: 2px solid #ddd;
  border-radius: 5px;
  &__form {
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 20px;
      padding: 10px 5px;
      border-radius: 5px;
      border: 2px solid #cdcccc;
      overflow: hidden;
      &::placeholder {
        color: #b4b4b4;
      }
      &:focus {
        outline: none;
        background: rgb(243, 243, 253);
      }
    }
  }
  &__btn {
    width: 90px;
    border: none;
    cursor: pointer;
    background: coral;
    color: #fff;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    &:hover {
      background: rgb(215, 106, 66);
    }
  }
  &__error {
    color: red;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
